[client]
port = 3306
socket = /var/lib/mysql/mysql.sock

[isamchk]
key_buffer = 64M
sort_buffer_size = 48M
read_buffer = 2M
write_buffer = 2M

[mysqld]
max_connections = 50
max_allowed_packet = 1M
safe-show-database
skip-locking
key_buffer = 128M
open_files_limit = 8190
table_cache = 3184
sort_buffer_size = 1M
read_buffer_size = 1M
read_rnd_buffer_size = 1M
myisam_sort_buffer_size = 64M
query_cache_size = 32M
max_heap_table_size = 48M
tmp_table_size = 48M
thread_cache_size = 8
wait_timeout = 30
interactive_timeout = 150
innodb_buffer_pool_size = 300M
lower_case_table_names = 1

[mysqld_safe]
log_error = /var/log/mysqld.log
nice = 0
socket = /var/lib/mysql/mysql.sock

[mysqldump]
max_allowed_packet = 16M
quick
quote-names

[mysql]
no-auto-rehash

[myisamchk]
key_buffer = 64M
sort_buffer_size = 48M
read_buffer = 2M
write_buffer = 2M

!includedir /etc/mysql/conf.d/
